*{  /*универсальный селектор*/
        background-color: #BDB76B;
}

li a {font-family: Arial;} /*селектор потомков: были только списки и ссылки, а с помощью тега класса стало наследоваться и цвет заголовкам 3 порядка*/
    .intro h3 { color: yellow;}


body> h2 {   /*наследование свойств используя дочерние селекторы*/
    color:rgb(0, 250, 154);
}

#banner { /*впрямом смвсле банер: прицепляется на какойто элемент и тот преобретает его сввойства . Используется один раз на документ.*/
    text-decoration: line-through;
   }
   